body {
    background-color: aquamarine;
    text-align: left;
    font-family: ;
    color: blueviolet;
}

p {
margin-top:50;
margin-bottom:50;
margin-left:50;
margin-right:50;

}
body {
    background-image: url("images/biopic7.JPG")>
    background-repeat: no-repeat;
    background-attachment: scroll;
  }