
.header {
padding: 90px;
text-align: left;
background-color: black;
color: #f1f1f1;
text-size-adjust: p=30;
}

.container {
    
    column-width: 800px;
    column-gap: 20px;

  } 
.card {
    background-color:rgb(23, 182, 57);
    border: #e9a62b ;
    padding: 20px;
    margin:0 0 1em 0;


}

  }
ul {
    list-style-type: none;
    margin: 14px;
    padding: 14px;
    width: 30px;
    background-color: rgb(133, 58, 120);
}

li a{
    display: block;
    color: #f1f1f1;
    padding: 8px 8px;
    text-decoration: none;

}

li a:hover {
    background-color: #555;
    color: #e9a62b
}

body {
    background-color: rgb(133, 58, 120);
    text-align: left;
    font-family:Impact, fantasy ;
    color:  #f1f1f1
}

p {
margin-top:50;
margin-bottom:50;
margin-left:50;
margin-right:50;

}

